*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  
}

.activeLink{
  color: #892be2b2;
}

p{
  font-size: 20px;
  padding-left: 15px;
}

ul{
  display: flex;
  background-color: #f6f6f6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}

ul li{
  margin-left: 40px;
  font-size: 25px;
}


a:hover{
  color: #892be2b2;
}

footer{
  background-color: #f8ecec;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.aside{
  background-color: #f6f6f6;
}

.activeTab{
  color: #892be2b2;
}